$color__1: #15a8d1;
$color__2: #c9379d;
$color__3: #333;
$color__4: #f7f7f7;
$color__5: #dddddd;
$color__6: #001f5e;
$color__7: #666666;
$color__8: #777777;
$color__9: #f3f3f3;

.color__1 {
  color: $color__1;
}
.color__2 {
  color: $color__2;
}
.color__3 {
  color: $color__3;
}
.color__4 {
  color: $color__4;
}
.color__1-background {
  background-color: $color__1;
}
.color__2-background {
  background-color: $color__2;
}
.color__3-background {
  background-color: $color__3;
}
.color__4-background {
  background-color: $color__4;
}
