<div class="filters color__4-background">
    <div class="filters__text1">
        <span class="color__2">Know what you pay</span>,
        <span class="color__1">know what you get</span>
    </div>

    <div class="filters__mobile-tabs">
        <ul class="tabs" data-tabs id="filters__mobile-tabs">
            <li class="tabs-title is-active"><a href="#internet" aria-selected="true">Internet</a></li>
            <li class="tabs-title"><a data-tabs-target="minutes" href="#minutes">Minutes</a></li>
        </ul>
    </div>

    <div class="filters__tabs" data-tabs-content="filters__mobile-tabs">
        <div class="filters__internet tabs-panel is-active" id="internet">
            <div class="filters__questions typography__default">
                How much <a href="#">internet</a> do you use?
            </div>
            <div class="filters__list" data-filter-group="internet">
                <button class="button global__button--tab" data-filter=".js-internet-light">
                    <span class="icon mobile-phone-vibrating"></span>
                    Light
                </button>
                <button class="button global__button--tab" data-filter=".js-internet-medium">
                    <span class="icon mobile-phone-vibrating"></span>
                    Medium
                </button>
                <button class="button global__button--tab" data-filter=".js-internet-heavy">
                    <span class="icon mobile-phone-vibrating"></span>
                    Heavy
                </button>
            </div>
        </div>

        <div class="filters__minutes tabs-panel" id="minutes">
            <div class="filters__questions typography__default">
                What kind of <a href="#">calling minutes</a> would you like in your plan?
            </div>
            <div class="filters__list" data-filter-group="minutes">
                <button class="button global__button--tab" data-filter=".js-minutes-local">
                    <span class="icon placeholder"></span>
                    Only Local
                </button>
                <button class="button global__button--tab" data-filter=".js-minutes-local-and-international">
                    <span class="icon world-wide-web"></span>
                    International & Local
                </button>
            </div>
        </div>
    </div>
</div>