<div class="plans">
    <div class="plans__text1 color__2 typography__default-minus-1">
        One time charge of <span class="global__700">AED 125</span> for new activation
    </div>

    <div class="plans__container">
        <div class="plans__item js-plans__item js-internet-light js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">150</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 150
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">3</span>GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">300</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">No</div> Contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div class="color__1 plans__item-field--empty">-</div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <div class="color__1 ">-</div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <div class="color__1 ">-</div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-internet-medium js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">300</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 300
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">12</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">600</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">12</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">300 Mins</div> Call <span class="color__1">1</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">-</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Silver series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-internet-heavy js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local js-internet-heavy js-internet-light">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>

        <div class="plans__item js-plans__item js-internet-light js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1"><span class="global__700">600</span> Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1"><span class="global__700">Gold</span> series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-internet-medium js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-internet-heavy js-minutes-local js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local js-internet-heavy js-internet-light">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>

        <div class="plans__item js-plans__item js-internet-medium js-minutes-local">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local js-internet-heavy js-internet-light">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
        <div class="plans__item js-plans__item js-minutes-local-and-international">
            <div class="plans__item-field plans__item-field--1">
                <i class="icon favorite"></i>
                <span class="plans__item-field--1-text">Popular</span>
            </div>
            <div class="plans__item-field plans__item-field--2">
                You Pay
            </div>
            <div class="plans__item-field plans__item-field--3">
                AED <span class="typography__default-plus-3 global__700">450</span>/month
            </div>
            <div class="plans__item-field plans__item-field--4">
                You get smart plan 600
            </div>
            <div class="plans__item-field plans__item-field--5">
                <div class="color__1">
                    <span class="typography__default-plus-3 global__700">18</span>
                    GB
                </div>
                National data
            </div>
            <div class="plans__item-field plans__item-field--6">
                <div class="">
                    <div class="typography__default-plus-3 global__700 color__1">1200</div>
                    Flexible min.
                </div>
            </div>
            <div class="plans__item-field plans__item-field--7">
                <div class="color__1">24</div> month contract
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--8">
                <div>
                    <div class="color__1">600 Mins</div> Call <span class="color__1">2</span> preferred  numbers
                </div>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--9">
                <span class="color__1">Free phone</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--10">
                <span class="color__1">Gold series number</span>
                <span class="plans__item-field-divider"></span>
            </div>
            <div class="plans__item-field plans__item-field--11">
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w1NzAzfGltYWdlL3BuZ3xpbWFnZXMvaGJhL2g4Mi84Nzk2MjI1MTQyODE0LnBuZ3xkYmVjOWUzNTFiMjNiNTM3MDE3MjI1NWUwNGVmYmZkYjlmNzhmM2NiYTNjZmQ5YTNkNDYyZWIzZjc4NDU1OTg4" alt="The entertainer">
                </div>
                <div>+</div>
                <div class="plans__plus">
                    <img src="https://shop.du.ae/medias/?context=bWFzdGVyfGltYWdlc3w0MTk1fGltYWdlL3BuZ3xpbWFnZXMvaDM5L2hiNy84Nzk2MjI1MDc3Mjc4LnBuZ3xhMTdhNzg4YTU2NmYxMDUyMDQ3NzUyYTJjMjZkMDY2NTRkNzJlYWNkZDI4OWY2OTIzZDEyMjQ3ZGNlZjBhNzUw" alt="Anghami">
                </div>
            </div>
            <div class="plans__item-field plans__item-field--12">
                <div><a href="#" class="button">Important info</a></div>
                <div><a href="#" class="button secondary">Buy</a></div>
            </div>
        </div>
    </div>
</div>